.dm-sans-a {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

html {
  /* background-color: black; */
  background: linear-gradient(to bottom, #07181f, #000000);

  /* background: radial-gradient(circle at bottom left, rgba(0, 255, 8, 0.4) 10%, transparent 40%); */
}

.main-app-text {
  font-family: "DM Sans";
  font-size: 72px;
  padding-top: 10vh;
  padding-left: 5vw;
}

.main-section {
  background-color: #003f4f;
  height: 50vh;
}

.header {
  background-color: #13485f43;
  padding: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  align-items: center;
  backdrop-filter: blur(40px);
  z-index: 1;
  font-family: "DM Sans";
  color: #ffffff;
  border-radius: 0px 0px 12px 12px;
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  color: #ffffff;
}

.header-logo {
  height: 4.5vh;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1vh;
  margin-left: -3vw;
}

.download-section {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.img-section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0; /* Remove gap between elements */
  margin-top: 11vh;
  background-color: transparent; /* Ensures parent div is transparent */
}
.text-overlay {
  position: absolute;
  top: 18vh;
  left: 10vw;
  width: auto;
  height: 10vh;
  gap: 0px;
  color: white;
  font-family: "DM Sans";
  font-size: 10vw;
  text-align: left;
}
.text-overlay h1 {
  margin: 0;
  padding: 0;
  font-family: "DM Sans";
  font-weight: 300;
}
.text-events {
  font-size: 16vw;
  color: #67d1ff;
  text-shadow: 0 0 30px #aee7ff;
}
.text-simpler {
  position: absolute;
  top: 8vh;
  font-size: 16vw;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.781);
}
.screen1 {
  width: 100vw;
  height: auto;
  background: none; /* Remove any potential background */
  display: block; /* Ensures the image is rendered properly */
  border: none;
  transform: translateX(-10vw); /* Move to the left by 5vw */
}

.main-download-container {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.download-button {
  color: #aee7ff;
  padding: 0px;
  background-color: transparent;
  border: none;
  font-family: "DM Sans";
  font-size: 16px;
  align-self: center;
}
.download-container {
  background-color: #0a374c;
  padding: 3vw;
  font-family: "DM Sans";
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-width: max-content;
  width: 30vw;
  align-items: center;
  justify-content: center;
  color: #aee7ff;
  border-radius: 20px;
  height: 5vh;
  margin-top: 5vh;
  box-shadow: 0 0 50px #0b41595a;
}

.apple-download-container {
  background-color: rgb(31, 31, 31);
  padding: 3vw;
  font-family: "DM Sans";
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-width: max-content;
  width: 30vw;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 20px;
  height: 5vh;
  margin-top: 5vh;
  box-shadow: 0 0 50px rgba(47, 43, 43, 0.567);
}

.apple-download-container a {
  color: white;
}

.version-text {
  font-size: 12px;
  color: #6b8f9e;
  font-family: "DM Sans";
}

.apple-version-text {
  font-size: 12px;
  color: rgb(155, 155, 155);
  font-family: "DM Sans";
}
.about-section {
  font-family: "DM Sans";
  margin-top: 5vh;
  text-align: center;
}
.about-heading {
  color: #aee7ff;
  text-align: left;
  margin-left: 5vw;
  text-shadow: 0 0 20px #aee7ff86;
}
.about-text {
  color: #aee7ff;
  text-align: left;
  margin-left: 5vw;
  font-weight: 200;
  padding-right: 5vw;
}
.features-section {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans";
}
.features-heading {
  color: #aee7ff;
  text-align: left;
  margin-left: 5vw;
  text-shadow: 0 0 20px #aee7ff86;
  margin-bottom: 1vh;
}
.features-text {
  color: #aee7ff;
  text-align: left;
  margin-left: 5vw;
  font-weight: 200;
  padding-right: 5vw;
}
.features-section h1 {
  margin-left: 5vw;
  text-align: left;
  color: #aee7ff;
  text-shadow: 0 0 20px #aee7ff86;
  margin-top: 0px;
}
.feature {
  background-color: #0f2027;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-bottom: 2vw;
  border-radius: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  gap: 6vw;
  color: #aee7ff;
  width: 80vw;
  align-self: center;
}

.feature i {
  font-size: 24px;
  align-self: center;
}

.feature h2 {
  color: #aee7ff;
  font-weight: 500;
  margin: 0;
  margin-top: 2vh;
  margin-bottom: 0px;
}

.feature p {
  color: #aee7ff;
  font-weight: 150;
  padding: 0px;
}
/*HERE*/
